.container{
    background-image: url("https://static.zarahome.net/8/static4/itxwebstandard/dto_imagen/home/slider/desktop/similarities.jpg?20220509020507");
    height: 937px;
    background-position: center;
    background-size: cover;
}